#cart{
    position: fixed;
    right: -32rem;
    bottom: 0;
    max-width: 30rem;
    height: calc(100vh - 8rem);
    background: #fff;
    box-shadow: -1rem 0 1.5rem rgba($color: #000000, $alpha: .07);
    transition: right .3s ease;
    padding: 1rem;

    &.open{
        right: 0;
    }
    
    .cart-container{
        height: 100%;
        overflow-y: scroll;
        overscroll-behavior: contain;
        padding: 0 3rem;

        .empty-shop{
            font-size: 1.8rem;
            line-height: 1.5;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background: #D0D5DD;
            border-radius: 100px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #4B5768;
            border-radius: 100px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: #333d49;
        }

        article{
            display: flex;
            align-items: center;
            position: relative;

            .counter{
                position: absolute;
                background: red;
                width: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 1.4rem;
                font-weight: 700;
                border-radius: 100px;
                top: 0;
                right: 0;
            }

            .trash{
                font-size: 2rem;
                padding: 1rem;
            }

            &:not(:last-child){
                margin-bottom: 3rem;
            }

            .item-img{
                width: 100%;
                max-height: 15rem;
                object-fit: contain;
            }

            .item-title{
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.3;
            }

            .item-desc{
                font-size: 1.3rem;
                line-height: 1.4;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                margin: 1rem 0;
            }

            .item-price{
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
            }
        }
    }
}