#main{
    margin-top: 15rem;
    margin-bottom: 10rem;

    .container{

        .product-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 7rem;
        }
    }
}
