#main{
    margin-top: 15rem;
    margin-bottom: 10rem;

    .container{

        #loader{
            height: 100%;
            min-height: 40rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .products-heading{
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .product-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 7rem;
        }
    }
}
