#single-product{
    position: relative;
    padding: 20rem 0 0;

    #loader{
        display: flex;
        justify-content: center;
        min-height: 600px;
        align-items: center;
        margin-bottom: 10rem;
    }

    .single-product-bg{
        position: absolute;
        top: 8rem;
        left: 0;
        z-index: 1;
        transform: scale(1.2);
        transform-origin: top left;
    }

    .container{
        position: relative;
        z-index: 2;

        .product-grid{
            display: grid;
            grid-template-columns: 43% 1fr;
            gap: 8rem;
    
            @media only screen and (max-width: 768px) {
                grid-template-columns: 1fr;
            }
    
            .image-holder{
                box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: .15);
                border-radius: 2rem;
                overflow: hidden;
                padding: 3rem 3rem 1rem;
                max-height: 60rem;
                background-color: #fff;

                .swiper{
                    padding-bottom: 5rem;
                    height: 100%;
                    
                    .swiper-pagination-bullet-active {
                        background: #E53E9A;
                    }
                }

                @media only screen and (max-width: 768px) {
                    padding: 3rem;
                    max-height: 40rem;
                }
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
    
            .product-content{
    
                .product-title{
                    font-size: 4rem;
                }
    
                .product-category{
                    font-size: 1.4rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                }
    
                .product-desc{
                    font-size: 2rem;
                }

                .product-price{
                    font-size: 2.8rem;
                    font-weight: 600;
                    margin-top: 1rem;
                    color: var(--txt-color-primary);
                }
    
    
                .add-to-cart{
                    display: flex;
                    gap: 1rem;
                    margin-top: 5rem;
    
                    .quantity-container{
                        display: flex;
    
                        button{
                            padding: 1rem;
                            background: var(--primary-color);
                            color: #fff;
                            font-weight: 700;
                            font-size: 2rem;
                            width: 4rem;
                            transition: background .3s ease;

                            &:hover{
                                background: #3a3a3d;
                            }

                            &.minus{
                                border-radius: .35rem 0 0 .35rem;
                            }
                            &.plus{
                                border-radius: 0 .35rem .35rem 0;
                            }
                        }
    
                        .product-quantity{
                            padding: 0 1rem;
                            font-size: 1.6rem;
                            border: none;
                            box-shadow: 0 0.3rem 0.7rem rgb(0 0 0 / 18%);
                            border-radius: 0.2rem;
                            max-width: 5rem;
                        }
                    }
    
    
                }
            }
    
        }
    
    
    
    
        .similar-products{
            margin: 5rem 0 11rem;
    
            h3{
                font-size: 3rem;
                margin-bottom: 4rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--border-color);
            }
    
            .similar-products-grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 7rem;
    
                @media only screen and (max-width: 768px) {
                    grid-template-columns: 1fr;
                }
            }
        }    
    }
}

