.container{
    
    .login-form{
        margin: 20rem auto 15rem;
        padding: 3rem 5rem 1rem;
        background: #fff;
        box-shadow: 0 2rem 2rem rgba($color: #000000, $alpha: 0.2);
        border-radius: 1rem;
        max-width: 80rem;

        & > div{
            display: flex;
            flex-direction: column;
            margin: 0 auto 3rem;

            input{
                padding: 1rem;
                border: none;
                box-shadow: 0 .3rem .7rem rgba($color: #000000, $alpha: .15);
                border-radius: .3rem;
            }

            label{
                font-size: 1.4rem;
                margin-bottom: 0.5rem;
            }

            button{
                align-self: center;
                margin-top: 2rem;
            }
        }
    }
}