footer{
    background-color: #191D23;
    padding: 2rem 0;

    .container{
        display: flex;
        align-items: center;
        justify-content: center;

        .copy{
            font-size: 1.4rem;
            color: #fff;
        }
    }
}