:root{
    --primary-color: #171719;
    --border-color: #17171985;
    --btn-disabled: #4c4c50;

    --txt-color-primary: #333;
    --txt-color-secondary: #666;
  }

.container{
    padding: 0 3rem;
    max-width: 150rem;
    margin: 0 auto;
}

h1{
    font-size: 4.8rem;
    color: var(--txt-color-primary);
    line-height: 1;

    @media only screen and (max-width: 500px) {
        font-size: 5rem;
    }
}

h2{
    color: var(--txt-color-primary);
}

h3{
    color: var(--txt-color-primary);
}

p{
    color: var(--txt-color-secondary);
}